@charset "UTF-8";

/*
em HTML é ID = em CSS é #
em HTML é CLASS = em CSS é .
*/

body {

    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

#principal {
color: black;
text-align: center;
background-color: rgb(194, 255, 255);
box-shadow: rgba(0, 0, 0, 0.212) 5px 5px 5px;
border-radius: 15px;

}

h1{

    color: rgb(4, 0, 255);

}

h2 {

    color: rgb(88, 85, 250);
}

.basico {
    color: red; text-shadow: #000000 1px 1px 3px;   
    
}

.intermediario {
    color: #e5ff00; text-shadow: #000000 1px 1px 3px;    
}

.avancado {
    color: chartreuse; text-shadow: #000000 1px 1px 3px;   
    
}

p {

color: black;
}
